/* Resetando margens e paddings padrões */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Animação para o scroll suave */
html {
    scroll-behavior: smooth;
}

/* Estilizando o corpo do site */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    justify-content: center;  
    align-items: flex-start;  
    min-height: 100vh;  
    padding: 20px;  
    flex-direction: column;  
}

/* Estilo da navegação */
nav {
    background-color: #2d3e50;
    padding: 15px 0;
    width: 100%;
    margin-bottom: 20px;
    padding-left: 2%;
    padding-right: 2%;
}

.nav-container {
    max-width: 1200px; 
    margin: 0 auto;  
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

nav h1.logo {
    color: white;
    font-size: 28px;
    font-weight: bold;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

/* Efeito de hover para os links */
nav ul li a:hover {
    background-color: #4b6888;
    border-radius: 5px;
}

/* Estilo dos artigos */
article {
    margin-bottom: 30px;
}

/* Estilo dos cabeçalhos */
h1 {
    font-size: 28px;
    color: #2d3e50;
    margin-bottom: 15px;
}

/* Estilizando o main para ficar centralizado */
main {
    width: 100%;
    max-width: 1200px; 
    margin: 0 auto;  
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

/* Estilo do contêiner de cards para exibição em linha */
.card-container {
    display: flex;
    justify-content: space-between; 
    gap: 20px;  
    flex-wrap: wrap;  
    margin-top: 30px;
}

/* Estilo de cada Card */

.card {
    background-color: #fff;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 32%;  
    box-sizing: border-box; 
    display: flex;
    flex-direction: column; 
    height: 500px; 
}

/* Estilo das Imagens dentro dos Cards */
.card img {
    width: 100%;  
    height: 200px;  
    object-fit: cover;  
    border-radius: 8px;  
}

/* Estilo do Título do Card */
.card .titulo {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    color: #333;
}

/* Estilo da Descrição do Card */
.card .descricao {
    margin-top: 10px;
    font-size: 16px;
    color: #666;
    flex-grow: 1;  
}

/* Estilo do container de botões */
.card-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px; 
}

/* Estilo dos botões */
.card-buttons a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    font-size: 14px;
    text-decoration: none;
    border-radius: 5px;
    background-color: #333;
    color: white;
    transition: background-color 0.3s;
}

.card-buttons a:hover {
    background-color: #0073e6; 
}

.card-buttons i {
    margin-right: 8px;
}



/* Logo Itabira */


#logoitabira {
    max-width: 300px; 
    height: auto; 
    display: block; 
    margin-right: 20px; 
    margin-top: 5px; 
}


/* Estilo da seção Economia (article) */
article#Economia {
    display: flex;
}

/* Estilo do texto dentro do artigo Economia */
article#Economia p {
    flex: 1; 
    font-size: 16px;
    color: #333;
    justify-content: left;
}

/* Estilo da imagem do mapa */
#Itabiramapa {
    width: 20%; 
    height: auto; 
    object-fit: cover; 
    border-radius: 8px; 
    margin-left: 20px; 
    height: auto; 
    display: block; 
    margin: 0 auto; 
    margin-bottom: 20px;
}

/* Estilos do Carrossel */

/* Configuração do container do carrossel */
.carousel-container {
    position: relative;
    width: 70%; 
    margin: 0 auto; 
    overflow: hidden;
}

/* Container para as imagens */
.carousel-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
}

/* Estilo para as imagens */
.carousel-item {
    width: 100%;
    object-fit: cover;
    flex-shrink: 0; 
}

/* Estilo para os botões de navegação */
.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10; 
}

/* Botão "Anterior" à esquerda */
.carousel-button.prev {
    left: 10px;
}

/* Botão "Próximo" à direita */
.carousel-button.next {
    right: 10px;
}


/* Agenda */ 

.calendario {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Cabeçalho do Calendário */
.calendario th {
    background-color: #2d3e50;
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 18px;
}

/* Células do Calendário */
.calendario td {
    padding: 20px;
    text-align: center;
    vertical-align: top;
    border: 1px solid #ddd;
    font-size: 16px;
    min-width: 80px;
    height: 80px;
    position: relative;
}

/* Estilo das células vazias */
.calendario td.dia-vazio {
    background-color: #f4f4f4;
}

/* Estilo dos eventos dentro das células */
.calendario .evento {
    display: block;
    margin-top: 5px;
    font-size: 14px;
    color: #ffffff;
    background-color: #2d3e50;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
}

/* Alterando a cor de fundo dos dias de fim de semana */

.calendario td:nth-child(1), .calendario td:nth-child(7) {
    background-color: #f9f9f9;
}

/* Efeito de hover nas células */

.calendario td:hover {
    background-color: #506d8d;
    color: #fff;
    cursor: pointer;
}



/* Foto Carlos Drummond de Andrade */ 

#carlos-drummond-de-andrade {
    max-width: 800px; 
    height: auto; 
    display: block; 
    margin: 0 auto; 
    margin-top: 20px; 
}



/* Botão Flutuante Home */

.botao-flutuante {
    display: inline-block;
    background-color:#2d3e50;
    color: white;
    text-align: center;
    padding: 12px 15px;
    position: fixed !important;
    bottom: 20px;
    right: 1px;
    bottom: 45%;
    border: none;
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
  }
  
  .botao-flutuante:hover {
    background-color: #696969;
  }

  .logohome {
    display: flex;
    width: 35px;
}
@media screen and (max-width: 768px) {
    .botao-flutuante {
        bottom: 10px; 
        right: 10px; 
        padding: 10px 12px; 
        font-size: 18px; 
    }

    .logohome {
        width: 30px; 
    }
}

/* Responsividade para telas muito pequenas, como smartphones verticais */
@media screen and (max-width: 480px) {
    .botao-flutuante {
        bottom: 5px; 
        right: 5px; 
        padding: 8px 10px; 
        font-size: 16px; 
    }

    .logohome {
        width: 25px; 
    }
}

/* Responsividade para telas menores */

@media screen and (max-width: 768px) {
    body {
        padding: 10px; 
    }

    .card-container {
        flex-direction: column;  
        align-items: center;
    }

    .card {
        width: 90%;  
        margin-bottom: 20px;  
    }

    .card img {
        height: 150px; 
    }

    nav h1.logo {
        font-size: 24px; 
    }

    nav ul {
        flex-direction: column; 
        align-items: center; 
    }

    .botao-flutuante {
        font-size: 18px; 
        padding: 10px 12px; 
        bottom: 20px; 
    }

    .carousel-container {
        width: 90%; 
    }

    .calendario th {
        font-size: 14px;
    }

    .calendario td {
        font-size: 12px;
        min-width: 60px;
        height: 60px;
    }

    .calendario td.dia-vazio {
        background-color: #f4f4f4;
    }

    #logoitabira {
        max-width: 150px; 
    }

    #Itabiramapa {
        width: 50%; 
        margin-left: 10px;
    }

    #carlos-drummond-de-andrade {
        max-width: 100%; 
    }
}